<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://naostrzuigly.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>naostrzuigly.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>naostrzuigly</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$naostrzuigly</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="EFDbContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:januszmarcinik.database.windows.net,1433;Initial Catalog=ankietamartydb;User ID=januszmarcinik@januszmarcinik.database.windows.net;Password=JAma94ikSZ" Name="Data Source=tcp:januszmarcinik.database.windows.net,1433;Initial Catalog=ankietamartydb;User Id=januszmarcinik@januszmarcinik.database.windows.net;Password=JAma94ikSZ;MultipleActiveResultSets=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="AnkietaMarty.Domain.Context.EFDbContext, AnkietaMarty.Domain" MigrationConfiguration="AnkietaMarty.Domain.Migrations.Configuration, AnkietaMarty.Domain" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PublishProvider>AzureWebSite</PublishProvider>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="EFDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:januszmarcinik.database.windows.net,1433;Initial Catalog=ankietamartydb;User Id=januszmarcinik@januszmarcinik.database.windows.net;Password=JAma94ikSZ;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>